<h1>タスク詳細</h1>
<div>
  <%= @task.id%> : <%= @task.content %>
</div>

<%= link_to '一覧に戻る', edit_task_path(@task) %> |
<%= link_to '編集する', edit_task_path(@task) %> |
<%= link_to '削除する', @task, method: :delete, data: { confirm: '本当に削除しますか？' } %>
